.aboutMeSection {
    height: 1000px;
    background: $primary;
}

.aboutMeContainer {
    padding-top: 150px;
    
     h2 {
        width: 350px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        &::before {
            content: ' ';
            width: 25%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 2px solid $text;
           
        }
    }
    .aboutMeContent {
        // display: flex;
        padding: 50px 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        
        .softSkills {
            display: flex;
            justify-content: space-evenly;
            padding: 50px 0;
            div {
                text-align: center;
                .fas, .far {
                    font-size: 1.3rem;
                }

                .fa-users {
                    border-radius: 50%;
                    background-color: $accentColor;
                    width: 50px;
                    height: 50px;
                    padding-top: 12px;
                    
                }
                
                .fa-puzzle-piece {
                    border-radius: 50%;
                    background-color: $accentColor2;
                    width: 50px;
                    height: 50px;
                    padding: 10px 0 0 4px;
                    
                }
                
                .fa-lightbulb {
                    border-radius: 50%;
                    background-color: $accentColor3;
                    width: 50px;
                    height: 50px;
                    padding-top: 12px;
                    
                }
                
                .fa-desktop {
                    border-radius: 50%;
                    background-color: tomato;
                    width: 50px;
                    height: 50px;
                    padding: 12px 0 0 1px;
                    
                }
                
                .fa-user {
                    border-radius: 50%;
                    background-color: grey;
                    width: 50px;
                    height: 50px;
                    padding-top: 11px;

                }

                p {
                    font-size: 0.7rem;
                }

            }
            
        }
        
        .profile {
            display: flex;
            padding: 50px 0;
            p {
                margin: 0 20px;
                &:first-child {
                    font-weight: 700;
                    text-align: right;
                }
               
            }
            
        }
       
    }
    a {
        margin: 0 auto;
        border: none;
        padding: 20px 60px;
        display: flex;
        width: 250px;
        justify-content: center;
        box-shadow: 0.3em 0.3em 0 0 $accentColor, inset 0.3em 0.3em 0 0 $accentColor;
        transition: all 0.25s ease-in-out;
        &:hover, &:focus {
            box-shadow: 0 0 0 0 $accentColor2, inset 6em 3.5em 0 0 $accentColor2;
  }
        
    }
}



