.aboutMeSection {
    height: 800px;
    background: $primary;

}

.aboutMeContainer {
    padding-top: 150px;
    
     h2 {
        width: 350px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        &::before {
            content: ' ';
            width: 25%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 2px solid $text;
           
        }
    }
    .aboutMeContent {
        display: flex;
        padding: 50px 0;
        p {
            margin: 0 20px;
            &:first-child {
                font-weight: 700;
                text-align: right;
            }
           
        }
    }
    a {
        margin: 0 auto;
        border: none;
        padding: 20px 60px;
        display: flex;
        width: 250px;
        justify-content: center;
        box-shadow: 0.3em 0.3em 0 0 $accentColor, inset 0.3em 0.3em 0 0 $accentColor;
        transition: all 0.25s ease-in-out;
        &:hover, &:focus {
            box-shadow: 0 0 0 0 $accentColor2, inset 6em 3.5em 0 0 $accentColor2;
  }
        
    }
}

