

footer {
    background: $secondary;
    .footerIcons {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 40px 0;
        .fab, .fas {
            font-size: 4rem;
             transition: all 0.25s ease-in-out;
                &:hover, :focus { 
                    transform: translateY(-0.05em);
                    color: $accentColor;
                }
        }
    }
    .footerTag {
        background-color: #071214;
        p {
            padding: 10px 0;
            text-align: center;
            color: $text2;
            
    
        }
    }
}