header {
    background: $secondary;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 900px;
    color: $text;
    background-position: right;
    overflow-x: hidden;
    nav {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
            h3 {
                font-family: 'Yellowtail', cursive;
                color: $accentColor;
            }
            .hamburgerMenu {
                display: block;
                width: 45px;
                cursor: pointer;
                appearance: none;
                background: none;
                outline: none;
                border: none;
                position: relative;
                z-index: 20;
            }
            ul {
                position: fixed;
                right: 100%;
                top: 0;
                width: 25%;
                min-height: 100vh;
                display: block;
                z-index: 10;
                background: $primary;
                padding-top: 220px;
                transition: right 0.3s ease-in-out;
                    a {
                        color: $text;
                        display: block;
                        max-width: 200px;
                        width: 100%;
                        margin: 0 auto 16px;
                        text-align: center;
                        padding: 12px 16px;
                        background-color: $secondary;
                        transition: all 0.3s ease-in-out;
                        &:hover, :focus {
                            box-shadow: inset 0 0 0 3em $accentColor2;
                            transition: all 0.3s ease-in-out;
                        }
                    }
            } 
   
    }

}

// making my own hamburger 
.hamburgerMenu .bar, .hamburgerMenu::before, .hamburgerMenu::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: $text;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburgerMenu.isActive::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburgerMenu.isActive::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburgerMenu.isActive .bar {
    opacity: 0;
}

.slideMenu.isActive {
    right: 0;
}

.nameTag {
    margin-top: 200px;
    width: 300px;
    line-height: 2.7em;
    h4 {
        padding-top: 30px;
        position: relative;
        width: 103px;
       
        &::after {
            content: ' ';
            width: 65%;
            position: absolute;
            bottom: 10px;
            right: 0;
            border-bottom: 2px solid $text;
           
        }

        a {
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $accentColor2;
            }
        }
    }

}



