
@media (max-width:1200px) {

    .projectSection {
        height: 5600px;
        .projectWrapper {
            .projects {
                .projectContent {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                        
    
                }
                .projectContentFlip {
                    flex-direction: column-reverse;
                }
    
                    
            }
        }

    
    
    }

   .skillsContainer {
        .skillsContent {
            padding-top: 100px;
            .skillsBtnContainer {
                button {
                    margin: 20px 30px;
                }
            }

        }

    }
    .musicSection {
        height: 2000px;
    }

    .musicTrack2 {
        text-align: right;
        margin-left: 450px;
        margin-right: 100px;
    }

    .musicTrack1, .musicTrack3 {
        margin-right: 450px;
        margin-left: 100px;
    }
    .aboutMeSection {
        height: 1200px;
    }
    

}

@media (max-width:950px) {
    .skillsContainer {
        .skillsContent {
            .skillsBtnContainer {
                button {
                    margin: 20px 15px;
                }
            }

        }

    }

        .projectSection {
            height: 4400px;

            .projectWrapper {
                .projects {
                    margin-top: 50px;
                    .projectContent {
                        width: 100%;
                        .projectInfo {
                            width: 85%;
                        }

                        
                    }

    
    
                }
            }
    
    
    
        }

    


    header {
        // background-image: linear-gradient(200deg, $secondary 0%, #a4bfef 74%);
        background: #071214;
        // height: 1100px;

        .headerFlex {
               flex-direction: column;
        
                img {
                    width: 65%;
                    border-radius: 25%;
                    margin: 0 auto;
        
                }

                .nameTag {
                    margin: 0;
                }
        
            }
    }

    .musicTrack2 {
        text-align: right;
        margin-left: 400px;
        margin-right: 50px;
    }

    .musicTrack1, .musicTrack3 {
        margin-right: 400px;
        margin-left: 50px;
    }

}

@media (max-width:850px) {
    .slideMenu.isActive {
        width: 50%;
    }

    .projectSection {
        height: 4800px;

        .projectWrapper {
            .projects {
                margin-top: 50px;
                .projectContent {
                    width: 100%;
                    img {
                    width: 75%;
                    }
                    .projectInfo {
                         width: 85%;
                    }

                        
                }

    
    
            }
        }
    
    

    }


    header {
        nav {
            ul {
                width: 50%;
            }
        }
    }

    .aboutMeSection {
        height: 1600px;
        .aboutMeContent {
            .profile {
                flex-direction: column;
                width: 75%;
                margin: 0 auto;
                p {
                    padding: 30px 0;
                }
            }
        }
    }
    

    .musicSection {
        height: 1900px;
    }
     
   .musicTrack2 {
        text-align: right;
        margin: 0 0 0 300px;
        
    }

    .musicTrack1, .musicTrack3 {
       margin: 0 300px 0 0;
    }

    .musicTrack1 {
        padding-top: 25px;
    }


}

@media (max-width:750px) {
    .contactSection {
        height: 1200px;
        .formContainer {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            form {
                display: flex;
                width: 100%;
                flex-direction: column;
            }
            .contactInfo {
                width: 100%
            }
        }
    }

    .skillsContainer {
        .skillsContent {
            padding-top: 70px;
            flex-direction: column;
            .skillsBtnContainer {
                width: 100%;
                button {
                    margin: 20px 15px;
                }
            }
            .skillsInfo {
                width: 80%;
                padding-top: 35px;
            }
        }

    }



    .musicTrack2 {
        text-align: right;
        margin: 0 0 0 200px;
        padding-top: 15px;
        
    }

    .musicTrack1, .musicTrack3 {
       margin: 0 200px 0 0;
    }

    header {
        // height: 1200px;
        .headerFlex {
            img {
                width: 85%;
            }
        }    
    }

    .aboutMeSection {
        .aboutMeContent {
           .softSkills {
               flex-wrap: wrap;
               width: 100%;
               div {
                   margin: 10px;
               }
           }
           .profile {
               width: 100%;
           }
        }
    }
}

@media(max-width:600px) {
    .aboutMeSection {
        height: 1600px;
        .aboutMeContainer{
            .aboutMeContent {
                .profile {
                    padding: 0;
                }
            }
        }
    }

    .skillsSection {
        height: 1100px;
    }
    
    .musicSection {
        height: 2000px;
    }

    .contactSection {
        height: 1375px;
        .formContainer {
            form {
                input[type="text"], input[type="email"] {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                }
            }

        }
    }

    .slideMenu.isActive {
        width: 100%;
    }

    header {
        nav {
            ul {
                width: 100%;
            }
        }
        .headerFlex {
            img {
                width: 100%;
            }
        }
    }

    .musicTrack2 {
        text-align: right;
        margin: 0 0 0 50px;
        padding-top: 30px;
        
    }
    
    .musicTrack1, .musicTrack3 {
        margin: 0 50px 0 0;
        padding-top: 30px;
    }


    footer .footerTag p {
        padding: 10px;
    }
}

@media(max-width:488px) {

    .projectSection {
            height: 4200px;
            padding: 40px;
    
            .projectWrapper {
                .projects {
                    margin-top: 50px;
    
                    .projectContent {
                        width: 100%;

                        img {
                            width: 80%;
                        }
    
                        .projectInfo {
                            width: 95%;
                        }
    
    
                    }

                    .collabContainer {
                        flex-direction: column;
                    }
    
    
    
                }
            }
    
    
    
        }

    .skillsSection {
        height: 850px;
        padding: 0;
        .skillsContainer {
            h2 {
                padding: 40px 0 0 0;
                &::before {
                    padding: 40px 0 0 0;
                }
            }

            .skillsContent {
                padding-top: 0;
               
                .skillsBtnContainer {
                    button {
                        margin: 20px 0;
                        .fab, .fas, .devicon-firebase-plain, .devicon-jquery-plain {
                            font-size: 2.3rem;
                        }
                    }
    
    
                }
                .skillsInfo {
                    padding-top: 5px;
                }
            }
        }
    }
    
    header nav ul {
        right: 120%;
    }

    header {
        // height: 900px;
        nav {
            padding: 50px 0;
            h3 {
                font-size: 2.5rem;
            }
        }
        .headerFlex {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .nameTag {
        h1 {
            // padding: 20px 0 20px 28px;
            font-size: 2.8rem;
            line-height: 50px;
        }
    }

    .aboutMeSection {
        height: 1100px;
        .aboutMeContainer {
            padding-top: 20px;
            h2 {
               margin: 0 auto;
               width: 320px;
            }
            .aboutMeContent {
               width: 100%;
               padding: 20px 0;
               p {
                   padding: 10px 0;
               }
            }
        }
    }

    .musicSection {
        height: 1400px;
        .musicContainer {
            padding-top: 20px;
            
            .musicTrack1, .musicTrack2, .musicTrack3 {
                margin: 0 auto;
            }
            
            .musicTrack1, .musicTrack3  {
                display: flex; 
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            
            .tracks:nth-child(2) {
                align-items: center;
                text-align: center;
            }
        }
    }

    .contactSection {
        height: 1090px;
        .contactContainer {
            padding: 0;
            h2 {
                padding: 40px 0 0 0;
                &::before {
                    padding: 40px 0 0 0;
                }
            }
        }
    }

    p {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 2.4rem;
    }

}