.musicSection {
    background-color: $secondary;
    height: 1800px;
    .musicContainer {
        padding-top: 80px;
        h2 {
            text-align: center;
            position: relative;
            width: 225px;
            margin: 0 auto;

            &::before {
                content: ' ';
                width: 35%;
                position: absolute;
                top: 0;
                left: 0;
                border-bottom: 2px solid $text;
            }
        }

        .musicContent {
            display: flex;
            flex-direction: column;
            .tracks {
                h4 {
                    padding: 20px 0;
                }
                .musicBtn {
                    padding: 15px 0;
                    button {
                        padding: 10px 20px;
                        margin-right: 10px;
                        background: $primary;
                        border: 1px solid #8f8f8f;
                        border-radius: 5px;
                        transition: all 0.25s ease-in-out;
                        &:hover, :focus {
                              box-shadow: inset -2em 0 1.5em 0 $accentColor, inset 3.5em 0 0 0 $accentColor3;  
                        }
                    }
                }
            }
        }

        
    }
}






// styling music images
.tracks img {
    width: 300px;
    height: 168px;
    border-top: 10px solid $accentColor3;
    border-bottom: 10px solid $accentColor3;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    &:hover {
        filter: drop-shadow(0 10px 0.6rem black);
    }
    
}

// styling and placement for individuale track

.musicTrack2 {
    text-align: right;
    margin-left: 500px;
    margin-right: 125px;
}

.musicTrack1, .musicTrack3 {
    margin-right: 500px;
    margin-left: 125px;
}

.musicTrack1 {
    margin-top: 40px;
}