.musicSection {
    background-color: $secondary;
    height: 1800px;
    overflow: hidden;
    .musicContainer {
        padding-top: 80px;
        h2 {
            text-align: center;
            position: relative;
            width: 225px;
            margin: 0 auto;

            &::before {
                content: ' ';
                width: 35%;
                position: absolute;
                top: 0;
                left: 0;
                border-bottom: 2px solid $text;
            }
        }

        .musicContent {
            margin-top: 150px;
           .playerHeader {
               img {
                   width: 100px;
                   height: 100px;
                }
                .playerInfo {
                    display: flex;
                    align-items: center;
                    img {
                        width: 175px;
                        height: 175px;
                        border-radius: 5px;
                        margin-right: 20px;
                    }
                }
            }
            
        }
        .labels {
            display: grid;
            grid-template-columns: 10fr 40fr 20fr 20fr 10fr;
            justify-content: space-between;
            padding: 50px 0 20px 0;
            opacity: 0.4;
            position: relative;
            &::after {
                content: ' ';
                border-bottom: 1px solid black;
                opacity: 0.7;
                position: absolute;
                width: 100%;
                bottom: 0;
            }

        }
        .tracks {
            display: grid;
            grid-template-columns: 10fr 40fr 20fr 20fr 10fr;
            padding: 30px 0;
            align-items: center;
            &:hover .fa-play {
                opacity: 1;
            }
            .fa-play{
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            div {
                display: flex;
                align-items: center;
                .fa-music {
                    background: #071214;
                    width: 50px;
                    height: 50px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    font-size: 1.2rem;
                    color: aliceblue;
                }
                span {
                    display: block;
                    opacity: 0.7;
                }
            }
            h5 {
                opacity: 0.7;
            }
        }
    }

        
}

.mainPlayer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    background-color: $primary;
    width: 60%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.playerVisible {
    opacity: 100%;
    transition: opacity 0.25s ease-in-out;
}