
.projectSection {
    background-color: $secondary;
    height: 1100px;
    padding-top: 80px;
    h2 {
        text-align: center;
        position: relative;
        width: 350px;
        margin: 0 auto;
        &::before {
            content: ' ';
            width: 25%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 2px solid $text;
           
        }
    }
    .projectContent {
        width: 700px;
        height: 675px;
        text-align: center;
        position: relative;
        overflow: hidden;
        .slides {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
            img {
                width: 100%;
                height: 300px;
                margin: 30px 0;
                border-top: 10px solid $accentColor3;
                border-bottom: 10px solid $accentColor3;
                border-radius: 15px;
            }
            p {
                padding: 20px 0;
            }
            .fab, .devicon-firebase-plain {
                font-size: 2.8rem;
                padding: 0 5px;
            }
        
        }
    }
    .btnContainer {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        button {
            border: none;
            background: $primary;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.35s ease-in-out;
            &:hover, :focus {
                box-shadow: inset 0 0 0 3em $accentColor2;
            }
            .fas {
                font-size: 4rem;
                margin: 0 30px;
                color: $text;
            }
        }
    }
}
