
.projectSection {
    background-color: $secondary;
    height: 1300px;
    padding-top: 80px;
    h2 {
        text-align: center;
        position: relative;
        width: 350px;
        margin: 0 auto;
        &::before {
            content: ' ';
            width: 25%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 2px solid $text;
           
        }
    }
    .projectContent {
        width: 800px;
        height: 875px;
        text-align: center;
        position: relative;
        overflow: hidden;
        .slides {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
            img {
                width: 100%;
                margin: 30px 0;
                border-top: 10px solid $accentColor3;
                border-bottom: 10px solid $accentColor3;
                border-radius: 15px;
            }
            p {
                padding: 20px 0;
            }
            .fab, .devicon-firebase-plain {
                font-size: 2.8rem;
                padding: 0 5px;
            }
            .siteLinks {
                display: flex;
                width: 100%;
                margin: 0 auto;
                padding-top: 30px;
                justify-content: center;
                a {
                    display: block;
                    margin: 0 20px;
                    padding-top: 10px;
                    font-weight: 700;
                    transition: all 0.25s ease-in-out;
                    &:hover, :focus {
                    box-shadow: 0 0.5em 0.5em -0.4em $accentColor; 
                    transform: translateY(-0.25em);
                    color: $accentColor;

                    }
                }

                p {
                    padding: 0;
                    font-size: 1.2rem;
                }
            }
            .collabContainer {
                padding-top: 30px;
                h4 {
                    padding-bottom: 10px;
                }
                a {
                    padding: 0 5px;
                    transition: all 0.25s ease-in-out;
                    &:hover, :focus {
                    box-shadow: 0 0.5em 0.5em -0.4em $accentColor; 
                    transform: translateY(-0.25em);
                    color: $accentColor;
                    }
                }
            }
        
        }
    }
    .btnContainer {
        text-align: center;
        display: flex;
        justify-content: space-between;
        button {
            border: none;
            background: $primary;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.35s ease-in-out;
            height: 100px;
            margin: auto 25px;
            &:hover, :focus {
                box-shadow: inset 0 0 0 3em $accentColor2;
            }
            .fas {
                font-size: 4rem;
                margin: 0 30px;
                color: $text;
            }
        }
    }

    
}
