// svg to angle all sections 


// position for the angles on every section

section {
    position: relative;
}    

.angle1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.angle1 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 99px;
}

.angle1 .shape-fill {
    fill: $primary;
}

.angle2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.angle2 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 73px;
}

.angle2 .shape-fill {
    fill: $secondary;
}

.angle3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.angle3 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 99px;
}

.angle3 .shape-fill {
    fill: #a2d2ff;
}
