
.skillsSection {
    height: 900px;
    padding-top: 100px;
    background: $primary;
}

.skillsContainer {
    h2{
        text-align: center;
        position: relative;
        width: 225px;
        margin: 0 auto;
        &::before {
            content: ' ';
            width: 35%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 2px solid $text;
           
        }
    }
    .skillsContent {
        display: flex;
        .skillsBtnContainer {
            display: flex;
            width: 50%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            button {
                border: none;
                background: $primary;
                margin: 20px 59px;
                transition: all 0.25s ease-in-out;
                &:hover, :focus {
                    box-shadow: 0 0.5em 0.5em -0.4em $accentColor; 
                    transform: translateY(-0.25em);
                }
                .fab, .fas, .devicon-firebase-plain, .devicon-jquery-plain {
                    font-size: 3rem;
                    transition: all 0.15s ease-in-out;
                    color: $text;
                    &:hover, :focus {
                        color: $accentColor3;
                    }
                }
                p {
                    color: $text;
                }
            }
        }
        .skillsInfo {
            width: 50%;
            text-align: center; 
            margin: auto;  
            h4 {
                font-size: 1.8rem;
                text-transform: capitalize;
                padding-bottom: 40px;
            }
        }
    } 
}

