
.skillsSection {
    height: 900px;
    padding-top: 100px;
}

.skillsContainer {
    h2{
        text-align: center;
        position: relative;
        width: 225px;
        margin: 0 auto;
        &::before {
            content: ' ';
            width: 35%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 2px solid $text;
           
        }
    }
    .skillsContent {
        display: flex;
        .skillsBtnContainer {
            display: flex;
            width: 50%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            button {
                border: none;
                background: $primary;
                margin: 20px 59px;
                .fab, .fas, .devicon-firebase-plain, .devicon-jquery-plain {
                    font-size: 3rem;
                }
            }
        }
        .skillsInfo {
            width: 50%;
            text-align: center; 
            margin: auto;  
            h4 {
                font-size: 2.5rem;
                text-transform: capitalize;
                padding-bottom: 40px;
            }
        }
    } 
}

