html {
    font-size: 125%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.7em;
}



h1,
h2,
h3, 
h4,
h5,
p, 
ul, 
li,
p,
a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text;
}

span {
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

//  .fBIcon {
//     width: 55px;
//     height: 52px;
//     margin: 0;
//     border:none;
// }