// colors
$primary: #FFFFFF;
$secondary: #f0f0f0;
$text: #000;
$accentColor: #FFBF00;

@import "partials/setup";
@import "partials/header"; 
@import "partials/standards";
@import "partials/sectionAngle";
@import "partials/aboutMe";
@import "partials/projects";
@import "partials/skills";
@import "partials/music";
@import "partials/contacts";
@import "partials/footer";
@import "partials/mediaQuerys";
