// colors
$primary: #83b0e1;
$secondary: #aecbeb;
$text: #000;
$text2: aliceblue;
$accentColor2: #f39f86;
$accentColor: #f9d976;
$accentColor3: #FFBF00;

// $primary: #83b0e1;
// $secondary: #aecbeb;

// $primary: #3c6997;
// $secondary: #439fb8;
@import "partials/setup";
@import "partials/header"; 
@import "partials/standards";
@import "partials/sectionAngle";
@import "partials/aboutMe";
@import "partials/projects";
@import "partials/skills";
@import "partials/music";
@import "partials/contacts";
@import "partials/footer";
@import "partials/mediaQuerys";

// background-color: #f39f86;
// background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);