@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url("../assets/ICT10062-2 copy.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 900px;
  color: #000;
  background-position: right;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}
header nav h3 {
  font-family: "Yellowtail", cursive;
  color: #FFBF00;
}
header nav .hamburgerMenu {
  display: block;
  width: 65px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #dddddd;
  outline: none;
  border: none;
  position: relative;
  z-index: 20;
  border-radius: 10px;
  padding: 10px;
}
header nav ul {
  position: fixed;
  right: 100%;
  top: 0;
  width: 25%;
  min-height: 100vh;
  display: block;
  z-index: 10;
  background: #dddddd;
  padding-top: 220px;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
header nav ul a {
  color: #000;
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #9fb3e0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
header nav ul a:hover, header nav ul a :focus {
  -webkit-box-shadow: inset 0 0 0 3em #f39f86;
          box-shadow: inset 0 0 0 3em #f39f86;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburgerMenu .bar, .hamburgerMenu::before, .hamburgerMenu::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: #000;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburgerMenu.isActive::before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
  background: #000;
}

.hamburgerMenu.isActive::after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
  background: #000;
}

.hamburgerMenu.isActive .bar {
  opacity: 0;
}

.slideMenu.isActive {
  right: 0;
}

.nameTag {
  margin-top: 200px;
  width: 372px;
  line-height: 2.7em;
}
.nameTag h1 {
  color: #dddddd;
  background-color: black;
  padding: 25px 0 25px 46px;
  border-radius: 10px;
  text-shadow: -1px 1px 2px #dddddd;
}
.nameTag h4 {
  position: relative;
  width: 200px;
  background-color: black;
  border-radius: 10px;
  text-shadow: 0 0 1px #dddddd;
  text-align: center;
  margin-top: 20px;
}
.nameTag h4::after {
  content: " ";
  width: 35%;
  position: absolute;
  bottom: 10px;
  right: 38px;
  border-bottom: 2px solid #dddddd;
}
.nameTag h4 a {
  color: #dddddd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nameTag h4 a:hover {
  color: #f39f86;
}

html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
p,
a {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

span {
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

section {
  position: relative;
}

.angle1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.angle1 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 99px;
}

.angle1 .shape-fill {
  fill: #dddddd;
}

.angle2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.angle2 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 73px;
}

.angle2 .shape-fill {
  fill: #9fb3e0;
}

.aboutMeSection {
  height: 800px;
  background: #dddddd;
}

.aboutMeContainer {
  padding-top: 150px;
}
.aboutMeContainer h2 {
  width: 350px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.aboutMeContainer h2::before {
  content: " ";
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #000;
}
.aboutMeContainer .aboutMeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}
.aboutMeContainer .aboutMeContent p {
  margin: 0 20px;
}
.aboutMeContainer .aboutMeContent p:first-child {
  font-weight: 700;
  text-align: right;
}
.aboutMeContainer a {
  margin: 0 auto;
  border: none;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.3em 0.3em 0 0 #f9d976, inset 0.3em 0.3em 0 0 #f9d976;
          box-shadow: 0.3em 0.3em 0 0 #f9d976, inset 0.3em 0.3em 0 0 #f9d976;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.aboutMeContainer a:hover, .aboutMeContainer a:focus {
  -webkit-box-shadow: 0 0 0 0 #f39f86, inset 6em 3.5em 0 0 #f39f86;
          box-shadow: 0 0 0 0 #f39f86, inset 6em 3.5em 0 0 #f39f86;
}

.projectSection {
  background-color: #9fb3e0;
  height: 1300px;
  padding-top: 80px;
}
.projectSection h2 {
  text-align: center;
  position: relative;
  width: 350px;
  margin: 0 auto;
}
.projectSection h2::before {
  content: " ";
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #000;
}
.projectSection .projectContent {
  width: 800px;
  height: 775px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.projectSection .projectContent .slides {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.projectSection .projectContent .slides img {
  width: 100%;
  height: 300px;
  margin: 30px 0;
  border-top: 10px solid #FFBF00;
  border-bottom: 10px solid #FFBF00;
  border-radius: 15px;
}
.projectSection .projectContent .slides p {
  padding: 20px 0;
}
.projectSection .projectContent .slides .fab, .projectSection .projectContent .slides .devicon-firebase-plain {
  font-size: 2.8rem;
  padding: 0 5px;
}
.projectSection .projectContent .slides .siteLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectSection .projectContent .slides .siteLinks a {
  display: block;
  margin: 0 20px;
  padding-top: 10px;
  font-weight: 700;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.projectSection .projectContent .slides .siteLinks a:hover, .projectSection .projectContent .slides .siteLinks a :focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #f9d976;
          box-shadow: 0 0.5em 0.5em -0.4em #f9d976;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  color: #f9d976;
}
.projectSection .projectContent .slides .siteLinks p {
  padding: 0;
  font-size: 1.2rem;
}
.projectSection .btnContainer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.projectSection .btnContainer button {
  border: none;
  background: #dddddd;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.projectSection .btnContainer button:hover, .projectSection .btnContainer button :focus {
  -webkit-box-shadow: inset 0 0 0 3em #f39f86;
          box-shadow: inset 0 0 0 3em #f39f86;
}
.projectSection .btnContainer button .fas {
  font-size: 4rem;
  margin: 0 30px;
  color: #000;
}

.skillsSection {
  height: 900px;
  padding-top: 100px;
  background: #dddddd;
}

.skillsContainer h2 {
  text-align: center;
  position: relative;
  width: 225px;
  margin: 0 auto;
}
.skillsContainer h2::before {
  content: " ";
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #000;
}
.skillsContainer .skillsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skillsContainer .skillsContent .skillsBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.skillsContainer .skillsContent .skillsBtnContainer button {
  border: none;
  background: #dddddd;
  margin: 20px 59px;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.skillsContainer .skillsContent .skillsBtnContainer button:hover, .skillsContainer .skillsContent .skillsBtnContainer button :focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #9fb3e0;
          box-shadow: 0 0.5em 0.5em -0.4em #9fb3e0;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}
.skillsContainer .skillsContent .skillsBtnContainer button .fab, .skillsContainer .skillsContent .skillsBtnContainer button .fas, .skillsContainer .skillsContent .skillsBtnContainer button .devicon-firebase-plain, .skillsContainer .skillsContent .skillsBtnContainer button .devicon-jquery-plain {
  font-size: 3rem;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  color: #000;
}
.skillsContainer .skillsContent .skillsBtnContainer button p {
  color: #000;
}
.skillsContainer .skillsContent .skillsInfo {
  width: 50%;
  text-align: center;
  margin: auto;
}
.skillsContainer .skillsContent .skillsInfo h4 {
  font-size: 1.8rem;
  text-transform: capitalize;
  padding-bottom: 40px;
}

.musicSection {
  background-color: #9fb3e0;
  height: 1800px;
  overflow: hidden;
}
.musicSection .musicContainer {
  padding-top: 80px;
}
.musicSection .musicContainer h2 {
  text-align: center;
  position: relative;
  width: 225px;
  margin: 0 auto;
}
.musicSection .musicContainer h2::before {
  content: " ";
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #000;
}
.musicSection .musicContainer .musicContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.musicSection .musicContainer .musicContent .tracks h4 {
  padding: 20px 0;
}
.musicSection .musicContainer .musicContent .tracks .musicBtn {
  padding: 15px 0;
}
.musicSection .musicContainer .musicContent .tracks .musicBtn button {
  padding: 10px 20px;
  margin-right: 10px;
  background: #dddddd;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #000;
}
.musicSection .musicContainer .musicContent .tracks .musicBtn button:hover, .musicSection .musicContainer .musicContent .tracks .musicBtn button :focus {
  -webkit-box-shadow: inset -2em 0 1.5em 0 #f9d976, inset 3.5em 0 0 0 #FFBF00;
          box-shadow: inset -2em 0 1.5em 0 #f9d976, inset 3.5em 0 0 0 #FFBF00;
}

.tracks img {
  width: 300px;
  height: 168px;
  border-top: 10px solid #FFBF00;
  border-bottom: 10px solid #FFBF00;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.tracks img:hover {
  -webkit-filter: drop-shadow(0 10px 0.6rem black);
          filter: drop-shadow(0 10px 0.6rem black);
}

.trackArt {
  position: relative;
  width: 300px;
  height: 168px;
}
.trackArt:hover .playHover::before, .trackArt :hover.playHover::after, .trackArt :hover.stopHover::before, .trackArt :hover.stopHover:after {
  opacity: 50%;
  z-index: 10;
}

.playHover {
  position: absolute;
  top: 0;
  left: 0;
}

.play2 {
  left: -275px;
}

.playHover::before {
  content: " play ";
  position: absolute;
  border: 8px solid #dddddd;
  border-radius: 5px;
  top: 10px;
  left: 0;
  opacity: 0;
  width: 300px;
  height: 148px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  color: #dddddd;
  padding-left: 10px;
}

.playHover::after {
  content: "▶";
  position: absolute;
  color: #dddddd;
  font-size: 3rem;
  border: 8px solid #dddddd;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  padding: 2px 0 0 12px;
  top: 40px;
  left: 105px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.play2::before {
  content: " play ";
  position: absolute;
  border: 8px solid #dddddd;
  border-radius: 5px;
  top: 10px;
  left: 275px;
  opacity: 0;
  width: 300px;
  height: 148px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  color: #dddddd;
  padding-left: 10px;
}

.play2::after {
  content: "▶";
  position: absolute;
  color: #dddddd;
  font-size: 3rem;
  border: 8px solid #dddddd;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  padding: 2px 0 0 12px;
  top: 40px;
  left: 385px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.stopHover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.stop2 {
  left: -275px;
}

.stopHover::before {
  content: " stop ";
  position: absolute;
  border: 8px solid #dddddd;
  border-radius: 5px;
  top: 10px;
  left: 0;
  padding-left: 10px;
  color: #dddddd;
  opacity: 0;
  width: 300px;
  height: 148px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.stopHover::after {
  content: "■";
  position: absolute;
  color: #dddddd;
  font-size: 7.7rem;
  top: -25px;
  left: 110px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.stop2::before {
  content: " stop ";
  position: absolute;
  border: 8px solid #dddddd;
  border-radius: 5px;
  top: 10px;
  left: 275px;
  opacity: 0;
  width: 300px;
  height: 148px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.stop2::after {
  content: "■";
  position: absolute;
  color: #dddddd;
  font-size: 3rem;
  border: 8px solid #dddddd;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  padding: 2px 0 0 12px;
  top: 40px;
  left: 385px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.tracks:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.musicTrack2 {
  text-align: right;
  margin-left: 500px;
  margin-right: 125px;
}

.musicTrack1, .musicTrack3 {
  margin-right: 500px;
  margin-left: 125px;
}

.musicTrack1 {
  margin-top: 40px;
}

.mainPlayer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 12px;
  background-color: #dddddd;
  width: 60%;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.playerVisible {
  opacity: 100%;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.contactSection {
  background-color: #dddddd;
  height: 800px;
}
.contactSection .contactContainer {
  padding-top: 50px;
}
.contactSection .contactContainer h2 {
  text-align: center;
  position: relative;
  width: 350px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.contactSection .contactContainer h2::before {
  content: " ";
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #000;
}
.contactSection .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSection .formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactSection .formContainer form input[type=text], .contactSection .formContainer form input[type=email] {
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  margin-bottom: 25px;
  width: 85%;
  background: #9fb3e0;
}
.contactSection .formContainer form textarea {
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 20px 15px;
  width: 85%;
  background: #9fb3e0;
}
.contactSection .formContainer form button {
  margin: 30px auto;
  padding: 20px 60px;
  border-radius: 10px;
  border: none;
  background: #9fb3e0;
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contactSection .formContainer form button:hover, .contactSection .formContainer form button :focus {
  -webkit-box-shadow: inset 0 0 0 3em #f39f86;
          box-shadow: inset 0 0 0 3em #f39f86;
}
.contactSection .formContainer .contactInfo {
  width: 50%;
  padding-top: 20px;
}
.contactSection .formContainer .contactInfo p {
  padding-bottom: 40px;
}

footer {
  background: #9fb3e0;
}
footer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0 40px 0;
}
footer .footerIcons .fab, footer .footerIcons .fas {
  font-size: 4rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .footerIcons .fab:hover, footer .footerIcons .fab :focus, footer .footerIcons .fas:hover, footer .footerIcons .fas :focus {
  -webkit-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
  color: #f9d976;
}
footer .footerTag {
  background-color: #dddddd;
}
footer .footerTag p {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .skillsContainer .skillsContent {
    padding-top: 100px;
  }
  .skillsContainer .skillsContent .skillsBtnContainer button {
    margin: 20px 30px;
  }

  .musicSection {
    height: 2000px;
  }

  .musicTrack2 {
    text-align: right;
    margin-left: 450px;
    margin-right: 100px;
  }

  .musicTrack1, .musicTrack3 {
    margin-right: 450px;
    margin-left: 100px;
  }

  .aboutMeSection {
    height: 1000px;
  }
}
@media (max-width: 950px) {
  .skillsContainer .skillsContent .skillsBtnContainer button {
    margin: 20px 15px;
  }

  header {
    background-image: linear-gradient(200deg, #6a93cb 0%, #a4bfef 74%);
  }

  .musicTrack2 {
    text-align: right;
    margin-left: 400px;
    margin-right: 50px;
  }

  .musicTrack1, .musicTrack3 {
    margin-right: 400px;
    margin-left: 50px;
  }
}
@media (max-width: 850px) {
  .slideMenu.isActive {
    width: 50%;
  }

  header nav ul {
    width: 50%;
  }

  .aboutMeSection {
    height: 1400px;
  }
  .aboutMeSection .aboutMeContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    margin: 0 auto;
  }
  .aboutMeSection .aboutMeContent p {
    padding: 30px 0;
  }

  .musicSection {
    height: 1900px;
  }

  .musicTrack2 {
    text-align: right;
    margin: 0 0 0 300px;
  }

  .musicTrack1, .musicTrack3 {
    margin: 0 300px 0 0;
  }

  .musicTrack1 {
    padding-top: 25px;
  }
}
@media (max-width: 750px) {
  .contactSection {
    height: 1200px;
  }
  .contactSection .formContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .contactSection .formContainer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSection .formContainer .contactInfo {
    width: 100%;
  }

  .skillsContainer .skillsContent {
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillsContainer .skillsContent .skillsBtnContainer {
    width: 100%;
  }
  .skillsContainer .skillsContent .skillsBtnContainer button {
    margin: 20px 15px;
  }
  .skillsContainer .skillsContent .skillsInfo {
    width: 80%;
    padding-top: 35px;
  }

  .projectSection .projectContent {
    width: 90%;
    height: 750px;
  }

  .musicTrack2 {
    text-align: right;
    margin: 0 0 0 200px;
    padding-top: 15px;
  }

  .musicTrack1, .musicTrack3 {
    margin: 0 200px 0 0;
  }
}
@media (max-width: 600px) {
  .aboutMeSection {
    height: 1300px;
  }
  .aboutMeSection .aboutMeContent {
    width: 95%;
  }

  .skillsSection {
    height: 1100px;
  }

  .musicSection {
    height: 2000px;
  }

  .contactSection {
    height: 1375px;
  }
  .contactSection .formContainer form input[type=text], .contactSection .formContainer form input[type=email] {
    width: 100%;
  }
  .contactSection .formContainer form textarea {
    width: 100%;
  }

  .slideMenu.isActive {
    width: 100%;
  }

  header nav ul {
    width: 100%;
  }

  .musicTrack2 {
    text-align: right;
    margin: 0 0 0 50px;
    padding-top: 30px;
  }

  .musicTrack1, .musicTrack3 {
    margin: 0 50px 0 0;
    padding-top: 30px;
  }

  .projectSection {
    height: 1200px;
  }
  .projectSection .projectContent {
    width: 90%;
    height: 800px;
  }

  footer .footerTag p {
    padding: 10px;
  }
}
@media (max-width: 488px) {
  .projectSection {
    height: 960px;
    padding: 0;
  }
  .projectSection .projectContent {
    height: 680px;
  }
  .projectSection .projectContent .slides img {
    height: 200px;
  }

  .skillsSection {
    height: 850px;
    padding: 0;
  }
  .skillsSection .skillsContent {
    padding-top: 0;
  }
  .skillsSection .skillsContent .skillsBtnContainer button {
    margin: 20px 0;
  }
  .skillsSection .skillsContent .skillsBtnContainer button .fab, .skillsSection .skillsContent .skillsBtnContainer button .fas, .skillsSection .skillsContent .skillsBtnContainer button .devicon-firebase-plain, .skillsSection .skillsContent .skillsBtnContainer button .devicon-jquery-plain {
    font-size: 2.3rem;
  }
  .skillsSection .skillsContent .skillsInfo {
    padding-top: 5px;
  }

  header nav ul {
    right: 120%;
  }

  .nameTag {
    width: 330px;
  }
  .nameTag h1 {
    padding: 20px 0 20px 28px;
  }

  .aboutMeSection {
    height: 800px;
  }
  .aboutMeSection .aboutMeContainer {
    padding-top: 20px;
  }
  .aboutMeSection .aboutMeContainer h2 {
    margin: 0 auto;
    width: 320px;
  }
  .aboutMeSection .aboutMeContainer .aboutMeContent {
    width: 100%;
    padding: 20px 0;
  }
  .aboutMeSection .aboutMeContainer .aboutMeContent p {
    padding: 10px 0;
  }

  .musicSection {
    height: 1600px;
  }
  .musicSection .musicContainer {
    padding-top: 20px;
  }

  .musicTrack1, .musicTrack2, .musicTrack3 {
    margin: 0 auto;
    text-align: center;
  }

  .contactSection {
    height: 1090px;
  }
  .contactSection .contactContainer {
    padding: 0;
  }
  .contactSection .contactContainer h2 {
    padding: 0;
  }

  p {
    font-size: 0.7rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}